@page
@model Dziennik.Pages.AddKlasaModel
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "AddKlasa";
}
<br /><br />
      <div class="container card d-flex justify-content-center bg-light" style="text-align:center">
          <div class="row">
              <div class="col"></div>
              <div class="col-6">
                  <center><h1 class="py-5">Dodawanie klasy</h1></center>
                  <form class="form-horizontal" method="post">
                      <div class="form-group">
                          <label class="control-label col-sm2">Nazwa:</label>
                          <div class="col-sm-12">
                              <input asp-for="klasa.nazwa" class="form-control">
                              <span asp-validation-for="klasa.nazwa" class="text-danger"></span>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label col-sm2">Wychowawca:</label>
                          <div class="col-sm-12">
                              <select asp-for="klasa.Nauczyciel.Id_nauczyciela" class="form-control">
                                  @foreach (var n in Model.nauczyciele.ToList())
                                  {
                                      <option value="@n.Id_nauczyciela">@n.imie @n.nazwisko</option>
                                  }
                              </select>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-12">
                              <button class="btn btn btn-primary">Zatwierdź</button>
                          </div>
                      </div>
                  </form>
              </div>
              <div class="col"></div>
          </div>
      </div>

