@page
@model Dziennik.Pages.AdminPageModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "Panel administracyjny";
}
<br />
<br />
<div class="container card d-flex justify-content-center bg-light" style="text-align:center">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <form class="form-horizontal" method="post">
                <center><h1>Nowy uczeń</h1></center>
                <div class="form-group">
                    <label class="control-label col-sm2">Login:</label>
                    <div class="col-sm-12">
                        <input asp-for="konto.login" class="form-control">
                        <span asp-validation-for="konto.login" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm2">Hasło:</label>
                    <div class="col-sm-12">
                        <input asp-for="konto.haslo" class="form-control">
                        <span asp-validation-for="konto.haslo" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm2">e-mail:</label>
                    <div class="col-sm-12">
                        <input asp-for="konto.email" class="form-control">
                        <span asp-validation-for="konto.email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="konto.typ_uzytkownika" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="konto.active" />
                </div>
                <div class="form-group">
                    <label class="control-label col-sm2">Imię:</label>
                    <div class="col-sm-12">
                        <input asp-for="konto.imie" class="form-control">
                        <span asp-validation-for="konto.imie" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm2">Nazwisko:</label>
                    <div class="col-sm-12">
                        <input asp-for="konto.nazwisko" class="form-control">
                        <span asp-validation-for="konto.nazwisko" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm2">Adres:</label>
                    <div class="col-sm-12">
                        <input asp-for="konto.adres" class="form-control">
                        <span asp-validation-for="konto.adres" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm2">Pesel:</label>
                    <div class="col-sm-12">
                        <input asp-for="konto.pesel" class="form-control">
                        <span asp-validation-for="konto.pesel" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm2">Klasa:</label>
                    <div class="col-sm-12">
                        <select asp-for="konto.KlasaId" class="form-control">
                            @foreach (var k in Model.klasy.ToList())
                            {
                                <option value="@k.KlasaId">@k.nazwa</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-12">
                        <button class="btn btn btn-primary">Zatwierdź</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
