@page
@model Dziennik.Pages.EditMarkModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_LayoutNauczyciel";
    ViewBag.Title = "Edycja oceny";
}
<br /><br />
      <div class="container card" style="text-align:center">
          <div class="row">
              <div class="col"></div>
              <div class="col-6">
                  <h1>Edycja oceny</h1>
                  <form class="form-horizontal" method="post">
                      <input asp-for="mark.OcenaId" type="hidden" class="form-control">
                      <input asp-for="Class_id" type="hidden" class="form-control">
                      <input asp-for="Subject_id" type="hidden" class="form-control">
                      <input asp-for="mark_type" type="hidden" class="form-control">
                      <div class="form-group">
                          <label asp-for="mark.wartosc" class="control-label col-sm2"></label>
                          <div class="col-sm-12">
                              <select asp-for="mark.wartosc" class="form-control">
                                  @if (Model.mark_type == 1)
                                  {
                                      <option value="1">1</option>
                                      <option value="1+">1+</option>
                                      <option value="2-">2-</option>
                                      <option value="2">2</option>
                                      <option value="2+">2+</option>
                                      <option value="3-">3-</option>
                                      <option value="3">3</option>
                                      <option value="3+">3+</option>
                                      <option value="4-">4-</option>
                                      <option value="4">4</option>
                                      <option value="4+">4+</option>
                                      <option value="5-">5-</option>
                                      <option value="5">5</option>
                                      <option value="5+">5+</option>
                                      <option value="6-">6-</option>
                                      <option value="6">6</option>
                                  }
                                  else
                                  {
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                      <option value="6">6</option>
                                  }
                              </select>
                          </div>
                      </div>
                      @if (Model.mark_type == 1)
                      {
                          <div class="form-group">
                              <label asp-for="mark.opis" class="control-label col-sm2"></label>
                              <div class="col-sm-12">
                                  <input asp-for="mark.opis" class="form-control">
                                  <span asp-validation-for="mark.opis" class="text-danger"></span>
                              </div>
                          </div>
                      }
                      <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-12">
                              <button asp-route-id="1" class="btn btn btn-primary" style="margin:5px">Zatwierdź zmiany</button>
                              <button asp-route-id="2" class="btn btn btn-primary" style="margin:5px">Usuń ocenę</button>
                          </div>
                          <div class="col-sm-offset-2 col-sm-12">

                          </div>
                      </div>
                  </form>
              </div>
              <div class="col"></div>
          </div>
      </div>


