@page
@model IndexModel
@{
    Layout = null;
    ViewData["Title"] = "Home page";
}

<div class="row col-sm-12">
    <a asp-page="AddMark" asp-route-id=1 class="btn btn-primary btn-large">Dodaj</a>
</div>