@page
@model Dziennik.Pages.ListaWydarzenModel
@{
    ViewData["Title"] = "ListaWydarzen";
    if(Dziennik.Pages.ListaWydarzenModel.typ_uzytkownika== 1)
    {
        Layout = "_LayoutNauczyciel";
    } else if(Dziennik.Pages.ListaWydarzenModel.typ_uzytkownika == 2)
    {
        Layout = "_LayoutNauczyciel";
    }
}

<h1>ListaWydarzen</h1>
@foreach (Dziennik.Models.Wydarzenie wydarzenie in Dziennik.Pages.ListaWydarzenModel.wydarzenia)
{
    <div class="card" style="width: 100%; margin-bottom: 1rem; background-color: gold">
        <div class="card-body">
            <h5 class="card-title">@wydarzenie.nazwa</h5>
            <h6 class="card-subtitle mb-2 text-muted">@wydarzenie.Przedmiot.nazwa, @wydarzenie.data</h6>
            <p class="card-text">@wydarzenie.opis</p>
        </div>
    </div>
}