@page
@model Dziennik.Pages.MainNauczycielModel
@{
    Layout = "_LayoutNauczyciel";
    ViewData["Title"] = "MainNauczyciel";
}

<div id="pbvideowrapper">
    <video autoplay muted loop id="pbvideo">
        <source src="~/images/pb.mp4" type="video/mp4" />
    </video>
</div>

<div id="napisNauczyciel">
Dzień <br /> dobry <br /> Panie <br /> Profesorze
</div>