@page
@model Dziennik.Pages.WydarzenieModel
@{
    Layout = "_LayoutNauczyciel";
    ViewData["Title"] = "Wydarzenie";
}

<h1>ListaWydarzen</h1>
@foreach (var w in Model.wydarzenia.ToList())
{
    <div class="card" style="width: 100%; margin-bottom: 1rem; background-color: gold">
        <div class="card-body">
            <h5 class="card-title">@w.nazwa</h5>
            <h6 class="card-subtitle mb-2 text-muted">@w.Przedmiot.nazwa, @w.data</h6>
            <p class="card-text">@w.opis</p>
        </div>
    </div>
}


